body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.header {
    background-color: #181818;
    color: #00AAAA;
    padding: 10px;
    margin: 0;
}

.content {
    background-color: #847E89;
    padding: 10px;
    margin: 0;
    flex: 1 0 auto;
}

.content button {
    margin: 5px;
    border-radius: 5px;
    border-color: #0AA;
    background-color: #0AA;
}

.footer {
    background-color: #181818;
    color: #00AAAA;
    margin: 0;
    padding: 10px;
    flex-shrink: 0;
}